@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 --white: #ffff;
 --black: #000;
 --primary: #f23456
}


body {
  color: var(--white);
  background:  var(--black);
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: var(--white);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: var(--black);
}

/* ::selection {
  background: var(--white);
  text-shadow: none;
  color: var(--black);
} */
